<div class="card">
  <div class="imgBox">
    <img src="assets\LOGO-VSD.png" alt="" />
  </div>
  <div class="content">
    <div class="details">
      <h2>Trương Hoài Phúc<br /><span>Chuyên viên IT </span></h2>
      <div class="data">
        <h3>342<br /><span>Post</span></h3>
        <h3>128k<br /><span>Post</span></h3>
        <h3>100<br /><span>Post</span></h3>
      </div>
      <div class="actionBtn">
        <button>Follow</button>
        <button>Message</button>
      </div>
    </div>
  </div>
</div>
