<h2 mat-dialog-title>Add Product Form</h2>
<div mat-dialog-content>
  <form [formGroup]="inputForm">
    <mat-form-field appearance="outline">
      <mat-label>Mã nhóm</mat-label>
      <input [readonly]="this.usergroup" formControlName="GroupID" matInput placeholder="Mã nhóm">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tên nhóm</mat-label>
      <input formControlName="GroupName" matInput placeholder="Tên nhóm">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ghi chú</mat-label>
      <textarea formControlName="GhiChu" matInput></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="bg-danger" mat-dialog-close color="warn"><mat-icon>close</mat-icon> Hủy bỏ</button>
  <button (click)="addUserGroup()" mat-raised-button color="primary"><mat-icon>save</mat-icon> {{actionBtn}}</button>
</div>

